# =========================
# Environment variables
# =========================
.env
!.env.example

# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]

# =========================
# Virtual environments
# =========================
venv/
.venv/
matrix_env/

# =========================
# Generated artifacts
# =========================
*.png

# =========================
# Private personal notes
# =========================
OWNMAP.mdex01/poetry.lock
